# Cache & temporary
shaders/cache/
watch_later/
*.log

# Binary executables (uosc ziggy)
scripts/uosc/bin/

# OS metadata
.DS_Store
Thumbs.db

# Optional: jika tidak ingin meng-upload script eksternal
# scripts/autoload.lua
# scripts/thumbfast.lua
# dll...
